<div>
    <h1>PRODUCTS</h1>
    <form action="">

    </form>
    <ul>
        {{#each products}}
        <li>
            <h2> {{this.title}} </h2>
            <img src="{{this.thumbnails.[0]}}" alt="">
            <p> {{this.description}} </p>
            <p> {{this.price}} </p>
            <p> {{this.stock}} </p>
        </li>
        {{/each}}
    </ul>
</div>